@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root,
[data-theme="light"],
[data-theme="dark"] {
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
